#Variables d'environnement et chemins d'accès
*.env
# Données brutes
*.zip
*.jar
*.jpg
*.jpeg
*.png
*.csv
*.venv
__pycache__/*
challenge_solution/__pycache__/
*.pyc
challenge_solution/__pycache__/AIComponent.cpython-312.pyc
